@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nc4coc");
  src: url("../fonts/icomoon.eot?nc4coc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nc4coc") format("truetype"), url("../fonts/icomoon.woff?nc4coc") format("woff"), url("../fonts/icomoon.svg?nc4coc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rev_loan1:before {
  content: "\e900"; }

.icon-rev_loan2:before {
  content: "\e901"; }

.icon-rev_loan3:before {
  content: "\e902"; }

.icon-rev_loan4:before {
  content: "\e903"; }

.icon-rev_loan5:before {
  content: "\e904"; }

.icon-rev_loan6:before {
  content: "\e905"; }

.icon-rev_loan7:before {
  content: "\e906"; }

.icon-rev_loan8:before {
  content: "\e907"; }

.icon-rev_loan9:before {
  content: "\e908"; }

.icon-trust_fund1:before {
  content: "\e909"; }

.icon-trust_fund2:before {
  content: "\e90a"; }

.icon-trust_fund3:before {
  content: "\e90b"; }

.icon-trust_fund4:before {
  content: "\e90c"; }

.icon-trust_fund5:before {
  content: "\e90d"; }

.icon-trust_fund6:before {
  content: "\e90e"; }

.icon-trust_fund7:before {
  content: "\e90f"; }

.icon-trust_fund8:before {
  content: "\e910"; }

.icon-trust_fund9:before {
  content: "\e911"; }

.icon-trust_fund10:before {
  content: "\e912"; }

.icon-trust_fund11:before {
  content: "\e913"; }

@font-face {
  font-family: din_light;
  src: url(../fonts/DINNextLTArabic-Light.ttf);
  src: url(../fonts/DINNextLTArabic-Light.otf);
  src: url(../fonts/DINNextLTArabic-Light.woff); }
@font-face {
  font-family: din_regular;
  src: url(../fonts/DINNextLTArabic-Regular.ttf);
  src: url(../fonts/DINNextLTArabic-Regular.otf);
  src: url(../fonts/DINNextLTArabic-Regular.woff); }
@font-face {
  font-family: din_medium;
  src: url(../fonts/DINNextLTArabic-Medium.ttf);
  src: url(../fonts/DINNextLTArabic-Medium.otf);
  src: url(../fonts/DINNextLTArabic-Medium.woff); }
@font-face {
  font-family: din_bold;
  src: url(../fonts/DINNextLTArabic-Bold.ttf);
  src: url(../fonts/DINNextLTArabic-Bold.otf);
  src: url(../fonts/DINNextLTArabic-Bold.woff); }
@font-face {
  font-family: frutiger_light;
  src: url(../fonts/frutiger-lt-arabic-45-light.ttf); }
@font-face {
  font-family: frutiger_bold;
  src: url(../fonts/FrutigerLTArabic-65Bold.ttf); }
/* ======================================= //*/
/* ==============  VARIABLES ============= //*/
/* ======================================= //*/
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #433f40;
  text-align: left; }

body::-webkit-scrollbar {
  width: 0.4em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }

p,
li {
  font-size: 0.931em; }

body::-webkit-scrollbar-thumb {
  background-color: #502c1e;
  outline: 1px solid slategrey; }

.w_90_per {
  max-width: 90%;
  margin: 0 auto; }

.dotted_border_green {
  padding: 1em;
  background-image: -o-radial-gradient(1px, circle, #76bc21 0.7px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(circle, #76bc21 1px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(1px, circle, #76bc21 0.7px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(circle, #76bc21 1px, rgba(255, 255, 255, 0) 1px);
  background-image: radial-gradient(circle at 1px, #76bc21 0.7px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle, #76bc21 1px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle at 1px, #76bc21 0.7px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle, #76bc21 1px, rgba(255, 255, 255, 0) 1px);
  background-position: top, right, bottom, left;
  background-size: 5px 6px, 4px 5px;
  border-radius: 10px;
  background-repeat: repeat-x, repeat-y;
  width: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .dotted_border_green:hover {
    background-image: -o-radial-gradient(1px, circle, #433f40 0.7px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(circle, #433f40 1px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(1px, circle, #433f40 0.7px, rgba(255, 255, 255, 0) 1px), -o-radial-gradient(circle, #433f40 1px, rgba(255, 255, 255, 0) 1px);
    background-image: radial-gradient(circle at 1px, #433f40 0.7px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle, #433f40 1px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle at 1px, #433f40 0.7px, rgba(255, 255, 255, 0) 1px), radial-gradient(circle, #433f40 1px, rgba(255, 255, 255, 0) 1px); }

.header img,
.footer img {
  width: 100%; }

.breadcrumb {
  margin: 7px 0 0 0;
  margin-bottom: 0;
  background: transparent;
  padding: 0.75rem 0;
  font-size: 15px; }
  .breadcrumb a {
    color: #433f40; }
  .breadcrumb:before {
    display: inline-block;
    content: " ";
    background-image: url(../images/breadcrumb_icon.png);
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-top: 5px; }

.breadcrumb-item.active {
  color: #1c1a1a; }

.breadcrumb-item + .breadcrumb-item {
  padding-right: 0.5rem;
  padding-left: 0; }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    color: #76bc21;
    padding-left: 0.5rem;
    padding-right: 0; }

a,
a:hover {
  text-decoration: none; }

.main_heading {
  margin-bottom: 1.3em; }
  .main_heading h1 {
    font-size: 1.45em; }

.trust_banner {
  width: 100%;
  height: 250px;
  background: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .trust_banner .trust_title h2 {
    color: #fff;
    font-size: 32px;
    text-shadow: 0 0 10px #333; }

.trust_loan_tabs {
  display: flex;
  justify-content: center;
  align-items: center; }
  .trust_loan_tabs a.trust_loan_tab {
    background: #fff;
    width: 350px;
    margin: 15px;
    -webkit-box-shadow: 0 0 30px #ccc;
    box-shadow: 0 0 30px #ccc;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10; }
    .trust_loan_tabs a.trust_loan_tab:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    .trust_loan_tabs a.trust_loan_tab.active {
      background: #fff;
      position: relative; }
      .trust_loan_tabs a.trust_loan_tab.active:after {
        content: "";
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        left: calc(50% - 10px);
        bottom: -10px;
        transform: rotate(45deg);
        z-index: -1; }

.trust_box {
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  padding: 0.5em;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .trust_box:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }

.trust_loan_tab_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px; }
  .trust_loan_tab_inner span {
    font-size: 35px;
    float: right;
    margin-right: 10px;
    color: #76bc21; }
  .trust_loan_tab_inner h3 {
    font-size: 1.3em;
    color: #433f40;
    margin-bottom: 0; }
  .trust_loan_tab_inner p {
    color: #222;
    text-align: center;
    margin-bottom: 0; }

.trust_loan_sec_one {
  padding: 4em 0; }
  .trust_loan_sec_one a.learn_farming {
    border: 1px solid #76bc21;
    color: #222;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s;
    margin-top: 20px; }
    .trust_loan_sec_one a.learn_farming:hover {
      background: #76bc21;
      color: #fff; }

.loan_objectives {
  background: url("../images/texture_bg.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eff2f4;
  padding: 4em 0; }

.obj_icon {
  padding-top: 30px; }

.loan_obj_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .loan_obj_col .loan_obj_icon_box {
    margin-bottom: 1.5em;
    width: 100px;
    height: 100px;
    background: #ffffff;
    padding: 1em;
    border: 2px solid #76bc21;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2); }
    .loan_obj_col .loan_obj_icon_box .loan_obj_icon span {
      font-size: 33px; }
  .loan_obj_col:nth-child(even) .loan_obj_icon_box {
    border: 2px solid #a59580;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2); }
    .loan_obj_col:nth-child(even) .loan_obj_icon_box .loan_obj_icon span {
      font-size: 33px; }

.development_programs {
  text-align: center;
  padding: 4em 0; }

.beneficiaries_chart .highcharts-figure {
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px; }

.dev_charts {
  padding-top: 30px; }

.countries_pie_chart .highcharts-figure {
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px; }

.fund_program {
  padding: 4em 0;
  text-align: center; }
  .fund_program .trust_loan_tabs a.trust_loan_tab {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 105px;
    display: flex; }
  .fund_program .trust_loan_tabs .trust_loan_tab_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

.funding_sources_banks {
  background: #eee url("../images/chart_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0; }
  .funding_sources_banks .funding_sources {
    display: flex;
    align-items: flex-end; }
    .funding_sources_banks .funding_sources .fund_src_icon span {
      font-size: 80px;
      margin-right: 15px;
      color: #76bc21;
      margin-bottom: 10px;
      display: block; }
    .funding_sources_banks .funding_sources .fund_src_text h2 {
      font-size: 19px;
      margin-bottom: 20px; }
    .funding_sources_banks .funding_sources .fund_src_text p {
      margin-bottom: 0; }
  .funding_sources_banks .cooperation_banks h2 {
    font-size: 19px;
    margin-bottom: 20px; }
  .funding_sources_banks .cooperation_banks p {
    margin-bottom: 0;
    margin-bottom: 15px; }
  .funding_sources_banks .cooperation_banks ul {
    padding: 0;
    margin: 0; }
    .funding_sources_banks .cooperation_banks ul li {
      list-style: none;
      position: relative;
      padding-left: 15px; }
      .funding_sources_banks .cooperation_banks ul li:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background: #76bc21;
        position: absolute;
        left: 0;
        top: 8px; }

.fund_projects {
  text-align: center;
  padding: 4em 0; }

.funds_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .funds_text h2 {
    font-size: 17px;
    color: #76bc21; }

.search_fields {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 30px; }

.results_btn button {
  border: 1px solid #76bc21;
  background: #76bc21;
  width: 100%;
  padding: 9px;
  border-radius: 4px;
  color: #fff; }

.select_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .select_box select {
    color: #222;
    padding: 8px;
    width: 310px;
    border: 1px solid #ccc;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 4px; }
    .select_box select option {
      padding: 30px; }
  .select_box:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    height: 40px;
    background: #76bc21;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    pointer-events: none;
    border-radius: 4px; }

#search_stats {
  display: none; }

.total_stats,
.search_stats {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px; }
  .total_stats .statistics,
  .search_stats .statistics {
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc; }
    .total_stats .statistics .stats_inner,
    .search_stats .statistics .stats_inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px; }
      .total_stats .statistics .stats_inner .vert_border,
      .search_stats .statistics .stats_inner .vert_border {
        width: 1px;
        height: 50px;
        background: #ccc; }
      .total_stats .statistics .stats_inner .figures_with_icon,
      .search_stats .statistics .stats_inner .figures_with_icon {
        display: flex;
        justify-content: space-around;
        text-align: left; }
        .total_stats .statistics .stats_inner .figures_with_icon .icon span,
        .search_stats .statistics .stats_inner .figures_with_icon .icon span {
          font-size: 70px;
          margin-right: 10px; }
        .total_stats .statistics .stats_inner .figures_with_icon .text strong,
        .search_stats .statistics .stats_inner .figures_with_icon .text strong {
          font-size: 16px;
          display: block;
          margin-bottom: -10px; }
        .total_stats .statistics .stats_inner .figures_with_icon .text .number,
        .total_stats .statistics .stats_inner .figures_with_icon .text .col_one_text,
        .search_stats .statistics .stats_inner .figures_with_icon .text .number,
        .search_stats .statistics .stats_inner .figures_with_icon .text .col_one_text {
          color: #76bc21;
          font-size: 36px; }
        .total_stats .statistics .stats_inner .figures_with_icon .text .col_one_text,
        .search_stats .statistics .stats_inner .figures_with_icon .text .col_one_text {
          font-size: 23px;
          margin-top: 7px; }

.utility_sites {
  background: #ebebeb;
  padding: 4em 0; }

.utility_sites_info .title h2 {
  font-size: 26px;
  margin-bottom: 50px; }
.utility_sites_info .sites_info_box {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 15px #ccc;
  padding: 20px;
  border-radius: 7px; }
  .utility_sites_info .sites_info_box h2,
  .utility_sites_info .sites_info_box p {
    margin: 0; }
  .utility_sites_info .sites_info_box h2 {
    font-size: 24px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px; }
    .utility_sites_info .sites_info_box h2:before {
      content: "";
      width: 10.5px;
      height: 10.5px;
      background: #76bc21;
      position: absolute;
      left: 5px;
      top: 15px;
      border-radius: 30px; }
    .utility_sites_info .sites_info_box h2:after {
      content: "";
      width: 20px;
      height: 20px;
      border: 2px solid #76bc21;
      position: absolute;
      left: 0;
      top: 10px;
      border-radius: 30px; }
  .utility_sites_info .sites_info_box p {
    padding-left: 30px;
    position: relative; }
  .utility_sites_info .sites_info_box p.region_name {
    color: #76bc21;
    font-size: 20px;
    margin-bottom: 5px; }
    .utility_sites_info .sites_info_box p.region_name:before {
      content: "\e911";
      font-family: "icomoon";
      color: #222;
      position: absolute;
      left: 5px;
      top: 2px; }
  .utility_sites_info .sites_info_box p.facility {
    font-size: 15px;
    margin-bottom: 3px; }
    .utility_sites_info .sites_info_box p.facility:before {
      content: "\e912";
      font-family: "icomoon";
      color: #222;
      position: absolute;
      left: 5px;
      top: 0px;
      font-size: 17px; }
  .utility_sites_info .sites_info_box p.beneficiaries {
    font-size: 15px;
    margin-bottom: 20px; }
    .utility_sites_info .sites_info_box p.beneficiaries:before {
      content: "\e913";
      font-family: "icomoon";
      color: #222;
      position: absolute;
      left: 2px;
      top: 0px;
      font-size: 17px; }

.states_info ul {
  margin: 0;
  padding: 0; }
  .states_info ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    font-size: 15px; }
    .states_info ul li span {
      margin-right: 10px; }

.fund_prgams {
  min-height: 140px !important; }

@media (max-width: 1199px) {
  .search_fields {
    width: 80%; }

  .total_stats,
  .search_stats {
    width: 100%; } }
@media (max-width: 992px) {
  .funding_sources {
    margin-bottom: 30px; }

  .trust_loan_tabs a.trust_loan_tab {
    width: 100%; }

  .trust_banner .trust_title h2 {
    font-size: 24px;
    text-align: center; }

  .funds_text,
  .search_fields,
  .select_box select,
  .total_stats,
  .search_stats {
    width: 100%; }

  .select_box {
    position: inherit; }

  .results_btn button {
    margin-top: 15px; }

  .total_stats .statistics .stats_inner .vert_border,
  .search_stats .statistics .stats_inner .vert_border {
    display: none; } }
@media (max-width: 768px) {
  .select_box select {
    margin-bottom: 15px; }

  .total_stats .statistics .stats_inner .vert_border,
  .search_stats .statistics .stats_inner .vert_border {
    display: none; }

  .total_stats .statistics .stats_inner,
  .search_stats .statistics .stats_inner {
    flex-direction: column; }

  .total_stats .statistics .stats_inner .figures_with_icon,
  .search_stats .statistics .stats_inner .figures_with_icon {
    margin-top: 20px;
    min-width: 250px;
    justify-content: flex-start; }
    .total_stats .statistics .stats_inner .figures_with_icon span,
    .search_stats .statistics .stats_inner .figures_with_icon span {
      width: 80px;
      display: block; }

  .utility_sites_info .title h2 {
    font-size: 22px; }

  span.icon-trust_fund6 {
    font-size: 60px !important; } }

/*# sourceMappingURL=style.css.map */
