@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nc4coc');
  src:  url('../fonts/icomoon.eot?nc4coc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nc4coc') format('truetype'),
    url('../fonts/icomoon.woff?nc4coc') format('woff'),
    url('../fonts/icomoon.svg?nc4coc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rev_loan1:before {
  content: "\e900";
}
.icon-rev_loan2:before {
  content: "\e901";
}
.icon-rev_loan3:before {
  content: "\e902";
}
.icon-rev_loan4:before {
  content: "\e903";
}
.icon-rev_loan5:before {
  content: "\e904";
}
.icon-rev_loan6:before {
  content: "\e905";
}
.icon-rev_loan7:before {
  content: "\e906";
}
.icon-rev_loan8:before {
  content: "\e907";
}
.icon-rev_loan9:before {
  content: "\e908";
}
.icon-trust_fund1:before {
  content: "\e909";
}
.icon-trust_fund2:before {
  content: "\e90a";
}
.icon-trust_fund3:before {
  content: "\e90b";
}
.icon-trust_fund4:before {
  content: "\e90c";
}
.icon-trust_fund5:before {
  content: "\e90d";
}
.icon-trust_fund6:before {
  content: "\e90e";
}
.icon-trust_fund7:before {
  content: "\e90f";
}
.icon-trust_fund8:before {
  content: "\e910";
}
.icon-trust_fund9:before {
  content: "\e911";
}
.icon-trust_fund10:before {
  content: "\e912";
}
.icon-trust_fund11:before {
  content: "\e913";
}
