@import 'custom_icons';

$din_font_base_path: "../fonts";

@font-face {
  font-family: din_light;
  src: url(#{$din_font_base_path}/DINNextLTArabic-Light.ttf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Light.otf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Light.woff);
}
@font-face {
  font-family: din_regular;
  src: url(#{$din_font_base_path}/DINNextLTArabic-Regular.ttf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Regular.otf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Regular.woff);
}
@font-face {
  font-family: din_medium;
  src: url(#{$din_font_base_path}/DINNextLTArabic-Medium.ttf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Medium.otf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Medium.woff);
}

@font-face {
  font-family: din_bold;
  src: url(#{$din_font_base_path}/DINNextLTArabic-Bold.ttf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Bold.otf);
  src: url(#{$din_font_base_path}/DINNextLTArabic-Bold.woff);
}

@font-face {
  font-family: frutiger_light;
  src: url(#{$din_font_base_path}/frutiger-lt-arabic-45-light.ttf);
}

@font-face {
  font-family: frutiger_bold;
  src: url(#{$din_font_base_path}/FrutigerLTArabic-65Bold.ttf);
}

/* ======================================= //*/
/* ==============  VARIABLES ============= //*/
/* ======================================= //*/

$green: #76bc21;
$brown: #502c1e;
$blue: #124e78;
$orange: #f2bb05;
$pale_yellow: #f0f0c9;
$dark_grey: #433f40;
$light_green: #acd591;
$black: #000;
$white: #ffffff;

$din_light: "din_light", sans-serif;
$din_reg: "din_regular", sans-serif;
$din_med: "din_medium", sans-serif;
$din_bold: "din_bold", sans-serif;
$frutiger_bold: "frutiger_bold", sans-serif;
$frutiger_light: "frutiger_light", sans-serif;

// ============================================================== //
body {
  font-size: 14px;
  font-family: $din_reg;
  color: $dark_grey;
  direction: rtl;
  text-align: right;
}
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $brown;
  outline: 1px solid slategrey;
}
.w_90_per {
  max-width: 90%;
  margin: 0 auto;
}
.dotted_border_green {
  padding: 1em;
  background-image: -o-radial-gradient(
      1px,
      circle,
      $green 0.7px,
      rgba(255, 255, 255, 0) 1px
    ),
    -o-radial-gradient(circle, $green 1px, rgba(255, 255, 255, 0) 1px),
    -o-radial-gradient(1px, circle, $green 0.7px, rgba(255, 255, 255, 0) 1px),
    -o-radial-gradient(circle, $green 1px, rgba(255, 255, 255, 0) 1px);
  background-image: radial-gradient(
      circle at 1px,
      $green 0.7px,
      rgba(255, 255, 255, 0) 1px
    ),
    radial-gradient(circle, $green 1px, rgba(255, 255, 255, 0) 1px),
    radial-gradient(circle at 1px, $green 0.7px, rgba(255, 255, 255, 0) 1px),
    radial-gradient(circle, $green 1px, rgba(255, 255, 255, 0) 1px);
  background-position: top, right, bottom, left;
  background-size: 5px 6px, 4px 5px;
  border-radius: 10px;
  background-repeat: repeat-x, repeat-y;
  width: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    background-image: -o-radial-gradient(
        1px,
        circle,
        $dark_grey 0.7px,
        rgba(255, 255, 255, 0) 1px
      ),
      -o-radial-gradient(circle, $dark_grey 1px, rgba(255, 255, 255, 0) 1px),
      -o-radial-gradient(1px, circle, $dark_grey 0.7px, rgba(255, 255, 255, 0)
            1px),
      -o-radial-gradient(circle, $dark_grey 1px, rgba(255, 255, 255, 0) 1px);
    background-image: radial-gradient(
        circle at 1px,
        $dark_grey 0.7px,
        rgba(255, 255, 255, 0) 1px
      ),
      radial-gradient(circle, $dark_grey 1px, rgba(255, 255, 255, 0) 1px),
      radial-gradient(
        circle at 1px,
        $dark_grey 0.7px,
        rgba(255, 255, 255, 0) 1px
      ),
      radial-gradient(circle, $dark_grey 1px, rgba(255, 255, 255, 0) 1px);
  }
}

.header,.footer {
  img {
    width: 100%;
  }
}

.breadcrumb {
  margin: 7px 0 0 0;
  margin-bottom: 0;
  background: transparent;
  padding: 0.75rem 0;
  font-family: $din_reg;
  font-size: 15px;
  a {
    color: $dark_grey;
  }
  &:before {
    display: inline-block;
    content: " ";
    background-image: url(../images/breadcrumb_icon.png);
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-top: 5px;
  }
}
.breadcrumb-item.active {
  color: darken($dark_grey, 15%);
}
.breadcrumb-item + .breadcrumb-item {
  padding-right: 0.5rem;
  padding-left: 0;
  &::before {
    content: "|";
    color: $green;
    padding-left: 0.5rem;
    padding-right: 0;
  }
}

a,
a:hover {
  text-decoration: none;
}
.main_heading {
  margin-bottom: 1.3em;
  h1 {
    font-family: $din_med;
    font-size: 1.45em;
  }
}


// ============================================================ //
// ================   ABOVE CODE TO BE REMOVE ================= //
// ============================================================ //

// =================================================================== //
// ========================  TRUST FUND BANNER ======================= //
// =================================================================== //

.trust_banner {
  width: 100%;
  height: 250px;
  background: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .trust_title {
    h2 {
      font-family: $din_med;
      color: #fff;
      font-size: 32px;
      text-shadow: 0 0 10px #333;
    }
  }
}

.trust_loan_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    a.trust_loan_tab {
        background: #fff;
        width: 350px;
        margin: 15px;
        -webkit-box-shadow: 0 0 30px #ccc;
        box-shadow: 0 0 30px #ccc;
        padding: 0.5em;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        z-index: 10;
        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
        &.active {
            background: #fff;
            position: relative;
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                background: #fff;
                position: absolute;
                left: calc(50% - 10px);
                bottom: -10px;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
    }
}

// =============================================================================================== //
// =========================================== TAB BOX =========================================== //
// =============================================================================================== //

.trust_box {
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  padding: 0.5em;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
}

.trust_loan_tab_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  span {
    font-size: 35px;
    float: right;
    margin-left: 10px;
    color:$green;
  }
  h3 {
    font-family: $din_med;
    font-size: 1.3em;
    color: $dark_grey;
  }
  p{
    color: #222;
    text-align: center;
    margin-bottom: 0;
  }
}



// ============================================================================================ //
// ================================= TRUST LOAN UNDER SLIDER  ================================= //
// ============================================================================================ //

.trust_loan_sec_one {
  padding: 4em 0;
  a.learn_farming{
    border:1px solid $green;
    color:#222;
    display:inline-block;
    padding: 5px 30px 10px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s;
    margin-top: 20px;
    &:hover{
        background: $green;
        color:#fff;
    }
  }
}

// ============================================================================================ //
// ===================================== LOAN OBJECTIVES ====================================== //
// ============================================================================================ //

.loan_objectives {
    background: url("../images/texture_bg.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eff2f4;
    padding: 4em 0;
}
.obj_icon {
    padding-top: 30px;
}

.loan_obj_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .loan_obj_icon_box {
        margin-bottom: 1.5em;
        width: 100px;
        height: 100px;
        background: $white;
        padding: 1em;
        border: 2px solid $green;
        border-radius: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);

        .loan_obj_icon {
            span {
                font-size: 33px;
            }
        }
    }
    &:nth-child(even) {
        .loan_obj_icon_box {
            border: 2px solid #a59580;
            border-radius: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.2);

            .loan_obj_icon {
                span {
                    font-size: 33px;
                }
            }
        }
    }
}

// ==================================================================== //
// ================= DEVELOPMENT PROGRAMS STATISTICS ================== //
// ==================================================================== //

.development_programs {
    text-align: center;
    padding: 4em 0;
}
.beneficiaries_chart .highcharts-figure {
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  font-family: $din-med !important;
}
.dev_charts {
  padding-top: 30px;
}

.countries_pie_chart .highcharts-figure {
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  font-family: $din-med !important;
}

.fund_program {
    padding: 4em 0;
    text-align: center;
    .trust_loan_tabs {
        a.trust_loan_tab{
            width: 100%;
            margin:0;
            margin-top: 15px;
            margin-bottom: 15px;
            min-height: 105px;
            display: flex;
        }
        .trust_loan_tab_inner{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
// ============================================================================================== //
// =================================== FUNDING SOURCES BANKS ==================================== //
// ============================================================================================== //

.funding_sources_banks{
    background: #eee url('../images/chart_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;
    .funding_sources{
        display: flex;
        align-items: flex-end;
        .fund_src_icon{
            span{
                font-size: 80px;
                margin-left: 15px;
                color:$green;
                margin-bottom:10px;
                display: block;
            }
        }
        .fund_src_text{
            h2{
                font-size: 19px;
                margin-bottom: 20px;
                font-family: $din_med;
            }
            p{
                margin-bottom: 0;
            }

        }
    }

    // =============================================== //

    .cooperation_banks{
        h2{
            font-size: 19px;
            margin-bottom: 20px;
            font-family: $din_med;
        }
        p{
            margin-bottom: 0;
            margin-bottom: 15px;
        }
        ul{
            padding:0;
            margin:0;
            li{
                list-style: none;
                position: relative;
                padding-right: 15px;
                &:before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 10px;
                    background: $green;
                    position: absolute;
                    right: 0;
                    top: 11px;
                }
            }
        }
    }
}

// ============================================================================================== //
// ================================== FUNDS FROJECTS IN SUDAN =================================== //
// ============================================================================================== //

.fund_projects{
    text-align: center;
    padding: 4em 0;
}
.funds_text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    h2{
        font-size: 17px;
        color: $green;
    }
}
.search_fields{
    width: 70%;
    margin:0 auto;
    position: relative;
    margin-top: 30px;
}
.results_btn{
    button{
        border:1px solid $green;
        background: $green;
        width: 100%;
        padding:9px;
        border-radius: 4px;
        color: #fff;
    }
}
.select_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    select {
        color: #222;
        padding: 8px;
        width: 310px;
        border: 1px solid #ccc;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        border-radius: 4px;
        option {
            padding: 30px;
        }
    }
    &:before {
        content: "\f107";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 40px;
        height: 40px;
        background: $green;
        text-align: center;
        font-size: 20px;
        line-height: 45px;
        color: #fff;
        pointer-events: none;
        border-radius: 4px;
    }
}
#search_stats{
    display: none;
}
.total_stats, .search_stats{
    width: 80%;
    margin:0 auto;
    margin-top: 50px;
    .statistics{
        border-radius: 6px;
        box-shadow: 0 0 10px #ccc;
        .stats_inner{
            display: flex;
            justify-content:space-around;
            align-items: center;
            padding: 20px;
            .vert_border{
                width: 1px;
                height: 50px;
                background: #ccc;
            }
            .figures_with_icon{
                display: flex;
                justify-content:space-around;
                text-align: right;
                .icon{
                    span{
                        font-size: 70px;
                        margin-left: 10px;
                    }
                }
                .text{
                    strong{
                        font-family: $din_med;
                        font-size: 16px;
                        display: block;
                        margin-bottom: -10px;
                    }
                    .number,.col_one_text{
                        color:$green;
                        font-size: 36px;
                        font-family: $din_light;
                    }
                    .col_one_text{
                        font-size: 23px;
                        font-family: $din_reg;
                        margin-top: 7px;
                    }
                }
            }
        }

    }
}

// ============================================================================================== //
// =============================== UTILITY SITES ACTIVITIES MAPS ================================ //
// ============================================================================================== //

.utility_sites{
    background: #EBEBEB;
    padding: 4em 0;
}
.utility_sites_info{
    .title{
        h2{
            font-family: $din_med;
            font-size: 26px;
            margin-bottom: 50px;
        }
    }
    .sites_info_box{
        width: 100%;
        background: #fff;
        box-shadow: 0 0 15px #ccc;
        padding: 20px;
        border-radius: 7px;
        h2,p{
            margin: 0;
        }
        h2{
            font-size: 24px;
            font-family: $din_med;
            position: relative;
            padding-right: 30px;
            margin-bottom: 20px;
            &:before{
                content: '';
                width: 10.5px;
                height: 10.5px;
                background: $green;
                position: absolute;
                right: 5px;
                top:15px;
                border-radius: 30px;
            }
            &:after{
                content: '';
                width: 20px;
                height: 20px;
                border:2px solid $green;
                position: absolute;
                right: 0;
                top: 10px;
                border-radius: 30px;
            }
        }
        p{
            padding-right: 30px;
            position: relative;
        }
        p.region_name{
            color: $green;
            font-size: 20px;
            margin-bottom: 5px;
            &:before{
                content: '\e911';
                font-family: 'icomoon';
                color: #222;
                position: absolute;
                right: 5px;
                top:2px;
            }
        }
        p.facility{
            font-size: 15px;
            margin-bottom: 3px;
            &:before{
                content: '\e912';
                font-family: 'icomoon';
                color: #222;
                position: absolute;
                right: 5px;
                top:0px;
                font-size: 17px;
            }
        }
        p.beneficiaries{
            font-size: 15px;
            margin-bottom: 20px;
            &:before{
                content: '\e913';
                font-family: 'icomoon';
                color: #222;
                position: absolute;
                right: 2px;
                top:0px;
                font-size: 17px;
            }
        }
    }
}
.states_info{
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            list-style: none;
            margin-left: 30px;
            font-size: 15px;
            span{
                margin-left: 10px;
            }
        }
    }
}
@media (max-width: 1199px){
  .search_fields{
      width: 80%;
  }
}
@media (max-width: 992px){
    .funding_sources{
        margin-bottom: 30px;
    }
    .trust_loan_tabs a.trust_loan_tab{
      width: 100%;
    }
    .trust_banner .trust_title{
      h2{
        font-size: 24px;
        text-align: center;
      }
    }
    .funds_text, .search_fields, .select_box select,.total_stats, .search_stats{
      width: 100%;
    }
    .select_box{
      position: inherit;
    }
    .results_btn button{
      margin-top: 15px;
    }

}
@media (max-width: 768px){
  .select_box select{
    margin-bottom: 15px;
  }
  .total_stats .statistics .stats_inner .vert_border, .search_stats .statistics .stats_inner .vert_border{
    display: none;
  }
  .total_stats .statistics .stats_inner, .search_stats .statistics .stats_inner{
    flex-direction: column;
  }
  .total_stats .statistics .stats_inner .figures_with_icon, .search_stats .statistics .stats_inner .figures_with_icon{
    margin-top: 20px;
    min-width: 250px;
    justify-content: flex-start;
    span{
      width:80px;
      display: block;
    }
  }
  .utility_sites_info .title h2{
    font-size: 22px;
  }
  span.icon-trust_fund6{
    font-size: 60px !important;
  }

}
